@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #E7E6E1;
    --cor-secundaria: #314E52;
    --cor-terciaria: #F2A154;
    --cor-hover: #F7F6E7;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao-alura {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
    
}

.navegacao {
   padding: 2% 0 0 15%;
    
}

.navegacao-menu {
    display: flex;
    gap: 80px;

}

.navegacao-menu-links {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.navegacao-menu-links:hover {
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}

.apresentacao-links-subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao-links-navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao-links-navegacao:hover {
    font-size: 1.6rem;
    background-color: var(--cor-hover);
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.copyright {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem; 
}

@media (max-width: 1200px) {
    
    .navegacao {
        padding: 12%;
    }

    .navegacao-menu {
        justify-content: center;
    }

    .apresentacao-alura {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao-conteudo {
        width: auto;
    }
}
